# Purpose: Main directory where all data is stored
# Required: YES
data_dir: /mnt/disks/storage/archivist-data

# Purpose: Max workers number (threads for download / validation)
# Required: NO
# Default: decided by ThreadPoolExecutor
max_workers: 5

# Purpose: Limit for SF api usage, will pause downloads if this limit is hit and resume when api usage is below
# Required: NO
# Default: None
max_api_usage_percent: 50

# Purpose: Set default modified_date_gt date to use when not specified on object level
# Required: NO
# Default: None
# Notes: Must be valid datetime recognized by YAML parser
modified_date_gt: 2011-01-01T00:00:00Z

# Purpose: Set default modified_date_lt date to use when not specified on object level
# Required: NO
# Default: None
# Notes: Must be valid datetime recognized by YAML parser
modified_date_lt: 2011-01-01T00:00:00Z

# Purpose: Salesforce authentication configuration
# Required: YES
auth:

  # Purpose: Full Salesforce instance login url
  # Required: NO
  # Default: None (Simple Salesforce default will be used which is https://login.salesforce.com/)
  instance_url: https://login.salesforce.com/

  # Purpose: Salesforce domain to use for login
  # Required: NO
  # Default: None (Simple Salesforce default will be used which is 'login')
  domain: login

  # Purpose: Salesforce account username
  # Required: YES
  username: example-username

  # Purpose: Connected app consumer key
  # Required: YES
  consumer_key: example-connected-app-key

  # Purpose: Connected app private key, base64 encoded, will be automatically decoded by yaml parser
  # Required: YES
  private_key: !!binary |
    TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4g
    VXQgYSBkb2xvciBxdWlzIGxlbyBmcmluZ2lsbGEgdm9sdXRwYXQgYWMgc2VkIHZlbGl0LiBFdGlh
    bSBvZGlvIGxlY3R1cywgZmV1Z2lhdCB2ZXN0aWJ1bHVtIHB1bHZpbmFyIGV1LCBvcm5hcmUgYXQg
    ZXguCg==

# Purpose: Map of Salesforce objects to process.
# Required: YES
# Notes: Key is an object name, values is a configuration map.
objects:
  User:
    # Purpose: Process only ContentDocument objects attached that were modified after datetime
    # Required: NO
    # Default: None
    # Notes: Must be valid datetime recognized by YAML parser
    modified_date_gt: 2017-01-01T00:00:00Z

    # Purpose: Process only ContentDocument objects attached that were modified before datetime
    # Required: NO
    # Default: None
    # Notes: Must be valid datetime recognized by YAML parser
    modified_date_lt: 2023-08-01T00:00:00Z


    # Purpose: Use value of this field as a directory name for downloaded files
    # Required: NO
    # Default: ContentDocumentLink.LinkedEntityId
    # Notes: `LinkedEntity` lookup fields can be used but not every field of every linked entity can be used.
    #        Check a project readme file for more details.
    dir_name_field: LinkedEntity.Username

    # Purpose: Use value of this field as an extra condition in SOQL query when fetching objects
    # Required: NO
    # Default: None
    # Notes: In contrary to `modified_date_*`, it filters objects and not files attached to them.
    #        It can filter objects by any field of the object that is allowed by Salesforce.
    extra_soql_condition: "MyCustomField__c = 'MyValue'"


  # Example 1: Process ContentDocument objects attached to `Account` object, older than datetime
  Account:
    modified_date_lt: 2023-08-01T00:00:00Z

  # Example 2: Process ContentDocument objects attached to `Booking__c` custom object, use default configuration
  Booking__c: {}
